
parameters:
    level: 9 
    paths:
        - src/
    editorUrl: 'vscode://file/%%file%%:%%line%%'
    stubFiles:
        - stub/ThirdParty.stub
rules:
    - Koya\Phpstantest\rule\TestRule
    - Koya\Phpstantest\rule\MethodNameRule
services:
    - 
        class: Koya\Phpstantest\extension\OriginalMethodExtension
        tags: 
            - phpstan.methodParameterOutTypeExtension
    - 
        class: Koya\Phpstantest\extension\OriginalFunctionExtension
        tags: 
            - phpstan.functionParameterOutTypeExtension
    -
        class: Koya\Phpstantest\phpdoctype\TestType
        tags:
            - phpstan.phpDoc.typeNodeResolverExtension
    -
        class: Koya\Phpstantest\phpdoctype\MyTypeNodeResolverExtension
        tags:
            - phpstan.phpDoc.typeNodeResolverExtension

